{% extends "library_management/base.html" %}

{% block content %}
{% if profile.role == 'librarian' %}

<h1>Librarian dashboard</h1>
{% elif profile.role == 'admin' %}
<h1>Admin dashboard</h1>
{% endif %}
<h5>Hello, {{profile.user.last_name}}</h5>
<ul>
    <li><a href="#">Add Book</a>Add Book</li>
    <li><a href="#">Remove a user</a></li>
    
    <li><a href="#">Borrowed Book Record</a></li>
    <li><a href="{% url "librarian:member_profile" %}">Member profile</a></li>
</ul>
{% endblock content %}


